@import 'base';
@import '~bootstrap/scss/bootstrap.scss';


@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

$font-family: 'Indie Flower', cursive;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.home-container {
  background-image: url('images/edu.jpg');
  height: 1000px;
  background-size:cover
}

.home-container .container {
  color : #fff;
  padding-left : 20px;
  padding-top : 20px;  
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.navbar-brand{
  font-family : Arial, Helvetica, sans-serif;
  transition: 1300ms;
   &:hover{
     color:yellow !important;
     text-shadow: 5px 5px 4px #fff;          
     &:hover{
       transition: 300ms;
     }
   }
}

.col-form-label {
  color:#fff;
}

#girisForm{
  width: 500px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom : 5px;
}

#sifremiUnuttum a{
  color:#fff;
  margin-top:5px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color:#450310;
  }
}

#kayitForm{
  width: 317px;
  margin-left:auto;
  margin-right:auto;
  .form-group{
    margin-bottom: 1px;
  }
}

  

