.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

header {
  background-color: #450310;
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 10px rgba(255,255,255,1);
}

.navbar {
  flex-direction: row;
}

.navbar-brand {
  color:#fff !important;
  font-family: 'Indie Flower', cursive,!important;
  font-size: 30px;
}

.navbar-nav .nav-link{
  color : #fff !important;
  font-family: 'Lato', sans-serif,!important;
  font-size: 17px;
  transition: 1300ms;
  &:hover{
    color:yellow !important;
    text-shadow: 3px 3px 4px #fff;
    transition: 100ms;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-toggler{
  border-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}

.btn-outline-light{
  transition: 1300ms;
}

.btn-outline-light:hover{
  color:yellow !important;
  background-color: darkgrey !important;
  border-color:yellow !important; 
  box-shadow: 4px 4px 4px #fff;  
  transition: 100ms;
}



.home-container{
  padding-top: 70px;
}